*{
    margin: 0;
    padding: 0;
}
div{
    margin: 100px auto;
    width: 320px;
    height: 180px;
    background-image: url(img1.jpeg);
    /* filter: blur(5px);
    filter: brightness(50%);
    filter: contrast(50%); */
    /* filter: drop-shadow(20px 20px 40px gray); */
    /* filter: grayscale(50%); */
    /* filter: hue-rotate(120deg); */
    /* filter: invert(90%); */
    /* filter: opacity(50%); */
    /* filter: saturate(200%); */
    filter: sepia(50%);
}