*{
    margin: 0;
    padding: 0;
}
h1{
    text-transform: capitalize;
}
p{
    width: 300px;
    display: -webkit-box;
    font-variant: small-caps;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}