*{
    margin: 0;
    padding: 0;
}
/* div{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: 100px auto;
}
div:hover{
    width: 500px;
    height: 500px;
    border: 2px solid blue;
    border-radius: 500px;
    background-color: red;

} */
 ul{
    margin-left: 200px;
 }
 li{
    font-size: 40px;
 }
 /* li:first-child{
    color: red;
 }
 li:last-child{
    color: rosybrown;
 } */
  /* li:nth-child(5n){
    background-color: bisque;
    color: blueviolet;
  } */
   a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
   }
   a:active{
    background-color: blanchedalmond;
   }
   a:visited{
    color: chartreuse;
   }
   a:link{
    color: brown;
   }